@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap');

/* Resets */

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
}

/* global classes */

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* custom styles */

header {
    background-color: rgb(19, 84, 48);
    padding: 5px 20%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

header nav a {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 16px;
    border-bottom: 0 transparent solid;
    transition: border-bottom 0.3s ease-in-out;
    transition: border-bottom .3    s ease-in-out;
}

header nav a:hover {
    border-bottom: 2px solid white;
    text-decoration: none;
}

/* 
header nav a:hover::after {
    transform: scale(1);
} */

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
  }

.headshot {
    max-width: 17%;
}

img {
    max-width: 70%;
}

.img2 {
    width: 50%;
    height: auto;
}

.img3 {
    width: 35%;
    height: auto;
}

header nav a {
    color: white;
    padding: 5px;
    font-size: 20px;
}

article h2 {
    padding: 20px;
    text-align: above;
}


@media (max-width: 760px) {

}

footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
}